:root{
    --primary-color: #2F7BFF;
    --second-color: #FFAC54;
    --white-color: #f1f1f1;
    --black-color: #2c2b2b;
    /*Tamaño de la fuente*/
    --font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    box-sizing: border-box;
    position: relative;
}

body{
  min-height: 100vh;
  background-color: var(--black-color);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}